* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #1f2123;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

header h1 {
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 2px;
}

.bi-search {
  font-size: 1.4rem;
  cursor: pointer;
}

#search {
  background-color: #525356;
  border-radius: 5px;
  border: none;

  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  width: 400px;
  letter-spacing: 0.5px;
}

#search:focus {
  outline: 2px solid #ffffff;
}

#search::placeholder {
  color: #ffffff;
}

#export {
  background-color: #1f2123;
  border-radius: 5px;
  border: 2px solid white;
  padding: 10px 20px;
  color: #ffffff;
  cursor: pointer;
}

/* add note */

#add-note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 20px 0;
  gap: 10px;
}

#add-note-container button {
  background-color: #1f2123;
  border: none;
}

#add-note-container .bi-plus {
  background-color: #1f2123;
  border-radius: 5px;
  border: 2px solid white;
  padding: 7px 9px;
  color: #ffffff;
  cursor: pointer;
}

#addInput {
  background-color: #525356;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-left: 5px;
  color: #ffffff;
  letter-spacing: 0.5px;
  flex: 1;
}

#addInput::placeholder {
  color: #ffffff;
}

#addInput:focus {
  outline: 2px solid #ffffff;
}

/* note */

#notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 290px);
  grid-template-rows: repeat(auto-fill, 290px);
  justify-content: center;
  gap: 20px;
}

.note {
  position: relative;
  background-color: #292b2c;
  width: 290px;
  height: 290px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
}

.note i {
  opacity: 0;
  transition: 0.3s;
}

.note:hover > i {
  opacity: 1;
}

.note textarea {
  background-color: transparent;
  border: none;
  height: 90%;
  width: 90%;
  font-size: 1.2rem;
  color: #ffffff;
  resize: none;
  overflow: none;
}

.note textarea:focus {
  outline: none;
}
.note .bi-pin,
.bi-pin-fill {
  bottom: 10px;
  left: 10px;
  opacity: 1 !important;
}

.note .bi-trash3 {
  top: 10px;
  right: 10px;
}

.note .bi-copy {
  top: 50px;
  right: 10px;
}

.bi-pin,
.bi-pin-fill,
.bi-trash3,
.bi-copy {
  position: absolute;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffffff;
  z-index: 999;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 20px;
  }
  #notes-container {
    grid-template-columns: repeat(auto-fill, 230px);
    grid-template-rows: repeat(auto-fill, 230px);
  }

  .note {
    width: 230px;
    height: 230px;
  }

  #search {
    width: 288px;
  }

  #add-note-container {
    padding: 30px 0px;
    width: 320px;
  }
}

@media (max-width: 478px) {
  #notes-container {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: repeat(auto-fill, 230px);
    padding: 0 20px;
  }

  .note {
    width: 100%;
    height: 230px;
  }
}
